
@model BodyCompositionCalculator.Models.ViewModels.ViewPhotoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <body>

        @{
            var imgSrc = "'" + String.Format("data:image/jpg;base64,{0}", Model.Photo) + "'";
            var img = new HtmlString(String.Format("<img class='img-thumbnail' src={0}/>", imgSrc));
        }
        @img
        @Scripts.Render("~/bundles/bootstrap")

    </body>
