/*.logo-primary-col {
    stroke: #e76f51;
}
*/


.icon-primary-custom {
    fill: #F76C6C;
    stroke: #F76C6C;
}

.icon-primary-custom:hover {
    fill: #F76C6C;
    stroke: #F76C6C;
}


.my-text-small {
    font-size: .9rem;
}

.my-header-font {
    font-family: "Raleway";
    font-weight: "Semibold";
}

.my-paragraph-font {
    font-family: "Roboto";
}

.my-theme-col-1 {
    color: #F8E9A1;
}
.my-theme-col-2 {
    color: #F76C6C;
}
.my-theme-col-3 {
    color: #A8D0E6;
}
.my-theme-col-4 {
    color: #374785;
}
.my-theme-col-5 {
    color: #24305E;
}

.my-page-background {
    background-color: #f8f9fa !important;

}

.my-border-right-1 {
    border-right: 0.25rem solid #F8E9A1 !important;
}
.my-border-right-2 {
    border-right: 0.25rem solid #F76C6C !important;
}
.my-border-right-3 {
    border-right: 0.25rem solid #A8D0E6 !important;
}
.my-border-right-4 {
    border-right: 0.25rem solid #374785 !important;
}
.my-border-right-5 {
    border-right: 0.25rem solid #24305E !important;
}
.my-font-1 {
    color:  #F8E9A1 ;
}
.my-font-2 {
    color:  #F76C6C ;
}
.my-font-3 {
    color:  #A8D0E6 ;
}
.my-font-4 {
    color:  #374785 ;
}
.my-font-5 {
    color:  #24305E ;
}

.my-background-1 {
    background-color: #F8E9A1;
}

.my-background-2 {
    background-color: #F76C6C;
}

.my-background-3 {
    background-color: #A8D0E6;
}

.my-background-4 {
    background-color: #374785;
}

.my-background-5 {
    background-color: #24305E;
}

.navbar-custom {
    background-color: #F76C6C;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}