@model BodyCompositionCalculator.Models.UserProfile

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <h2>@Html.ActionLink("New", "NewGoalForm", new { controller = "Home" }, new { @class = "btn btn-primary" })</h2>

</div>



@*<th>First Name - @Model.FirstName</th>
<th>Last Name - @Model.LastName</th>*@
