@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>About</h2>

<p>Profile Icon from fontawesome.com. Free License. Creative Commons. https://creativecommons.org/licenses/by/4.0/. No changes made to the icon.</p>