@model BodyCompositionCalculator.Models.ViewModels.ViewPhotoViewModel
@{
    ViewBag.Title = "Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Photo</h2>

<img data-toggle='popover' class='img-thumbnail' src=@Model.Photo/>

